#header_menu{
    display: block; 
    position: fixed; /*ポジションを固定する*/
    top: 0px;　/*一番上に設置*/
    left: 0px;
    z-index: 9999;  /*どの要素よりも上にくるように*/
    background-color: rgba(110,169,36,0.78);　　/*メニューバー背景色*/
    width: 100%; /*横幅を100%に*/
    padding: 0 0;
    }
    #header_menu a {
    float: left; /*メニューを横並びにする*/
    font-size: 16px;
    color: #FFF;　　　
    padding: 10px;
    }
    #header_menu a:after { /*floatでデザインが崩れないように*/
    display:block;
    clear: both;
    content:"";　　　
    }